<section id="how-made" class="section">
  <div class="container how-made-container">
    <h2 class="title how-made-section-title">
      how it's <span class="title-accent">made?</span>
    </h2>
    <div class="how-made-content">
      <div class="how-made-img-box">
        <div class="how-made-overlay">
          <video
            class="how-made-img"
            controls=" controls"
            width="100%"
            poster="./img/how-its-sec-img/blending-choco-desktop@2x.jpg"
          >
            <source
              src="./img/how-its-sec-img/chocococowebm.webm"
              type="video/webm"
            />
            <source
              src="./img/how-its-sec-img/chocococomp.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/how-its-sec-img/blending-choco-desktop.jpg    1x,
              ./img/how-its-sec-img/blending-choco-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/how-its-sec-img/blending-choco-tablet.jpg    1x,
              ./img/how-its-sec-img/blending-choco-tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/how-its-sec-img/blending-choco-mobile.jpg    1x,
              ./img/how-its-sec-img/blending-choco-mobile@2x.jpg 2x
            "
          />

          <img
            src=" ./img/how-its-sec-img/blending-choco-mobile.jpg"
            alt="blending-choco"
            class="how-made-img"
          />
        </picture>
      </div>
      <div class="how-made-description-box">
        <div class="how-made-card">
          <h3 class="how-made-description-subtitle">
            Try our chocolates today and <br />
            discover the perfect balance of flavor
          </h3>
          <ul class="how-made-description-list">
            <li class="how-made-text">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </li>
            <li class="how-made-text">
              At the same time, prepare a water bath. Melt the butter on it.
            </li>
            <li class="how-made-text">
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </li>
            <li class="how-made-text">
              Heat the mixture over low heat, letting it barely boil.
            </li>
            <li class="how-made-text">
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
