<footer class="footer">
  <div class="container">
    <div>
      <p class="footer-slogan">
        <span class="footer-slogan-accent">Chocolate</span> a delicious cure for
        a bad day
      </p>
      <div class="footer-contact-box">
        <div>
          <p class="footer-contact-caption">Contact us</p>
          <ul>
            <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
            <li>
              <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </div>

        <ul class="footer-networks-list">
          <li>
            <a class="footer-networks-link" href="">
              <svg
                class="footer-social-icon"
                aria-label="instagram icon"
                width="22"
                height="22"
              >
                <use href="../img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer-networks-link" href="">
              <svg
                class="footer-social-icon"
                aria-label="twitter icon"
                width="22"
                height="22"
              >
                <use href="../img/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-menu-box">
        <ul class="footer-menu-list">
          <li><a href="#home">Home</a></li>
          <li><a href="#how-made">How it’s made?</a></li>
          <li><a href="#products">Our products</a></li>
          <li><a href="#sellers">Top sellers</a></li>
          <li><a href="#clients">Chocolate is loved</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
