<header class="header">
  <div class="container header-container">
    <nav class="main-nav">
      <a class="logo link" href=""
        >SIMPLY<span class="logo-sp">&nbsp;CHOCOLATE</span>
        <svg class="logo-svg">
          <use class="logo-icon" href="./img/sprite.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="nav-list list">
        <li class="nav-link"><a href="#home">Home</a></li>
        <li class="nav-link"><a href="#how-made">How it’s made?</a></li>
        <li class="nav-link"><a href="#products">Our products</a></li>
        <li class="nav-link"><a href="#sellers">Top sellers</a></li>
        <li class="nav-link">
          <a href="#clients">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <button class="menu-burger-btn js-open-menu" type="button">
      <svg class="menu-svg-btn">
        <use class="menu-icon" href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <ul class="social-networks list">
      <li class="social-networks-list">
        <a class="social-networks-link" href="">
          <svg class="instagram-svg" width="24" height="24">
            <use class="icon" href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-networks-list">
        <a class="social-networks-link" href="">
          <svg class="twitter-svg" width="24" height="24">
            <use class="icon" href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="mobile-menu js-menu-container">
    <button class="mobile-menu-close-btn js-close-menu" type="button">
      <svg class="mobile-menu-close-svg">
        <use
          class="mobile-menu-close-icon"
          href="./img/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <ul class="mobile-nav-list">
      <li class="mobile-nav-link"><a href="#home">Home</a></li>
      <li class="mobile-nav-link"><a href="#how-made">How it’s made?</a></li>
      <li class="mobile-nav-link"><a href="#products">Our products</a></li>
      <li class="mobile-nav-link"><a href="#sellers">Top sellers</a></li>
      <li class="mobile-nav-link">
        <a href="#clients">Chocolate is loved</a>
      </li>
    </ul>
    <ul class="mobile-social-networks">
      <li>
        <a class="mobile-social-networks-link" href="">
          <svg class="mobile-social-networks-svg">
            <use
              class="mobile-social-networks-icon"
              href="./img/sprite.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="mobile-social-networks-link" href="">
          <svg class="mobile-social-networks-svg">
            <use
              class="mobile-social-networks-icon"
              href="./img/sprite.svg#icon-twitter"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
