<header>
  <div class="header">
    <nav class="main-nav">
      <a class="logo link"
        >SIMPLY &nbsp;<span class="logo-sp">CHOCOLATE</span>
        <svg class="logo-svg" weight="24" height="24">
          <use class="logo-icon" href="../img/sprite.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="nav-list list">
        <li class="nav-link"><a href="Home">Home</a></li>
        <li class="nav-link"><a href="How it’s made?">How it’s made?</a></li>
        <li class="nav-link"><a href="Our products">Our products</a></li>
        <li class="nav-link"><a href="Top sellers">Top sellers</a></li>
        <li class="nav-link">
          <a href="Chocolate is loved">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="social-networks list">
      <li>
        <a>
          <svg class="instagram-svg" width="24" height="24">
            <use class="icon" href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a>
          <svg class="twitter-svg" width="24" height="24">
            <use class="icon" href="../img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
