<section class="hero" id="home">
  <div class="container-hero">
    <h1 class="visually-hidden">chocolate hero</h1>
    <h2 class="title-hero">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-btn-wrappers">
      <div class="hero-wrapper-btn">
        <button
          type="button"
          class="btn-hero"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Buy now
        </button>

        <button type="button" class="btn-hero btn-hero-style">
          How it’s made
        </button>
      </div>
      <div class="hero-wrapper-scroll">
        <button type="button" class="btn-hero-scroll" for="#footer">
          scroll down

          <svg class="icon-hero" width="28" height="28">
            <use href="../img/sprite.svg#icon-angle"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
