<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../css/hero.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container container-hero">
        <h1 class="visually-hidden">hero section</h1>
        <h2 class="main-title animate__animated animate__lightSpeedInLeft">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <ul class="hero-list">
          <li class="hero-link-list">
            <button
              type="button"
              class="btn btn-primary btn-hero"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Buy now
            </button>
          </li>
          <li class="hero-link-list">
            <a href="" class="hero-link">
              <button class="btn-hero btn-hero-style">How it’s made</button>
            </a>
          </li>
        </ul>

        <a href="" class="link-info-hero">
          <button class="btn-info">
            scroll down

            <svg class="icon-hero" width="28" height="28">
              <use href="../public/sprite.svg#icon-sprite-hero"></use>
            </svg>
          </button>
        </a>
      </div>
    </section>
    <!-- Модальное окно -->
  </body>
</html>
