<section id="how-made" class="container how-made-container">
    <h2 class="how-made-section-title">how it's made?</h2>
    <div class="how-made-content">
        <div class="how-made-img-box">
            <img src="../img/how-its-sec-img/blending-choco-mobile.jpg" alt="blending-choco" class="how-made-img">
        </div>
        <div class="how-made-description-box">
            <div class="how-made-card">
                <h3 class="how-made-description">Try our chocolates today and discover the perfect balance of
                    flavor
                </h3>
                <ul class="how-made-description-list">
                    <li class="how-made-text">Heat the milk in a saucepan without bringing it to a boil.
                        Add sugar and cocoa powder.
                    </li>
                    <li class="how-made-text">At the same time, prepare a water bath. Melt the butter on
                        it.
                    </li>
                    <li class="how-made-text">"Mix" the milk mixture and already liquid butter. Mix
                        thoroughly with a silicone spatula so that the mass becomes uniform and silky.
                    </li>
                    <li class="how-made-text">Heat the mixture over low heat, letting it barely boil.

                    </li>
                    <li class="how-made-text">Pour the chocolate into special containers (can be replaced
                        with ice molds). Allow to cool and harden.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>