<div class="modal-window-explore">
  <div class="modal-window-chocolate">
    <button class="modal-window-chocolate-button">
      <svg class="modal-explore" widht="12" hight="12">
        <use href="../img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <p class="modal-window-title">
    Explore our <br />
    <span class="span-products"> new chocolate</span> first!
  </p>

  <form class="modal-window-form" action="">
    <div class="modal-window">
      <input
        class="form-modal-window"
        type="text"
        placeholder="Enter your email"
      />
      <button class="subscribe-modal-window-btn">Submit</button>
    </div>
  </form>
</div>
