
<section class="section section-cards">
  <div class="container">
    <h2 class="title" id="products">OUR<span class="span-products">PRODUCTS</span></h2>
   
   
   
    <div class="container-products">
      <ul class="products-list">

 
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        
        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/orange1x.jpg 1x,
                          ../img/our-prod-sec-img/orange2x.jpg 2x
                        " src="../img/our-prod-sec-img/orange1x.jpg" alt="orange" />
                <h3 class="title-cards">ORANGE</h3>
                <p class="text-products">Dark chocolate</p>
                <button class="button-products" type="button">45 UAH</button>
            </li>
        </div>

   <div class="swiper-slide">
            <li class="products-list-item width: 1">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/applecranberry1x.jpg 1x,
                          ../img/our-prod-sec-img/applecranberry2x.jpg 2x
                        " src="../img/our-prod-sec-img/applecranberry1x.jpg" alt="applecranberry" />
                <h3 class="title-cards">APPLE&CRANBERRY</h3>
                <p class="text-products">Milk chocolate</p>
                <button class="button-products" type="button">50 UAH</button>
            </li>
        </div>

        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/limeseasalt1x.jpg 1x,
                          ../img/our-prod-sec-img/limeseasalt2x.jpg 2x
                        " src="../img/our-prod-sec-img/limeseasalt1x.jpg" alt="limeseasalt" />
                <h3 class="title-cards">LIME&SEA SALT</h3>
                <p class="text-products">Dark chocolate</p>
                <button class="button-products" type="button">66 UAH</button>
            </li>
        </div>

        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/pineapple1x.jpg 1x,
                          ../img/our-prod-sec-img/pineapple2x.jpg 2x
                        " src="../img/our-prod-sec-img/pineapple1x.jpg" alt="pineapple" />
                <h3 class="title-cards">PINEAPPLE</h3>
                <p class="text-products">Dark chocolate</p>
                <button class="button-products" type="button">54 UAH</button>
            </li>
        </div>

        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/classic1x.jpg 1x,
                          ../img/our-prod-sec-img/classic2x.jpg 2x
                        " src="../img/our-prod-sec-img/classic1x.jpg" alt="classic" />
                <h3 class="title-cards">CLASSIC</h3>
                <p class="text-products">Milk chocolate</p>
                <button class="button-products" type="button">45 UAH</button>
            </li>
        </div>

        <div class="swiper-slide">
        <li class="products-list-item">
            <img class="products-item-img" srcset="
                      ../img/our-prod-sec-img/honey1x.jpg 1x,
                      ../img/our-prod-sec-img/honey2x.jpg 2x
                    " src="../img/our-prod-sec-img/honey1x.jpg" alt="honey" />
            <h3 class="title-cards">HONEY</h3>
            <p class="text-products">Milk chocolate</p>
            <button class="button-products" type="button">50 UAH</button>
        </li>
        </div>

        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/roastedfruits1x.jpg 1x,
                          ../img/our-prod-sec-img/roastedfruits2x.jpg 2x
                        " src="../img/our-prod-sec-img/roastedfruits1x.jpg" alt="roastedfruits" />
                <h3 class="title-cards">ROASTED FRUITS</h3>
                <p class="text-products">Dark chocolate</p>
                <button class="button-products" type="button">66 UAH</button>
            </li>
        </div>

        <div class="swiper-slide">
            <li class="products-list-item">
                <img class="products-item-img" srcset="
                          ../img/our-prod-sec-img/classicwhite1x.jpg 1x,
                          ../img/our-prod-sec-img/classicwhite2x.jpg 2x
                        " src="../img/our-prod-sec-img/classicwhite1x.jpg" alt="classicwhite" />
                <h3 class="title-cards">CLASSIC</h3>
                <p class="text-products">White chocolate</p>
                <button class="button-products" type="button">54 UAH</button>
            </li>
        </div>
        
            

        ...
    </div>
    </ul>
    <!-- If we need pagination -->

      <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons 
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar 
    
    <div class="swiper-scrollbar"></div>-->
</div>

</div>
</div>
</section>


