<section class="subscribe-section">
  <div class="subscribe-wrapper container">
    <div class="content-container">
      <h2 class="title-subscribe">
        EXPLORE OUR NEW <br />
        CHOCOLATE FIRST
      </h2>
      <p class="subscribe-description">
        From the velvety texture to the rich and complex flavor, our New
        Chocolate is a true indulgence that will leave you craving more. Made
        with only the finest ingredients and handcrafted with the utmost care,
        each piece is a work of art that is sure to please.
      </p>
    </div>
    <button
      data-modal-open
      class="subscribe-open-btn js-open-modal"
      data-modal="3"
      type="button"
    >
      Subscribe
    </button>
  </div>
</section>
