 <section class="section" id="sellers">
        <div class="container">
          <h2 class="sellers-title title"><span class="sellers-title-span">TOP</span> SELLERS</h2>
            <ul class="list sellers-list">
              <li class="sellers-item img-sellers">
                    <img srcset="./img/top-sellers-sec-img/desktop/nuts@2x.jpg" src="./img/top-sellers-sec-img/desktop/nuts.jpg" alt="nuts" class="sellers-img " width="368" height="464">
              </li>

              <li class="sellers-item"> 
                    <picture>
                        <source srcset="./img/top-sellers-sec-img/desktop/chocolate.jpg 1x, ./img/top-sellers-sec-img/desktop/chocolate@2x.jpg 2x" media="(min-width: 1200px)">
                        <source srcset="./img/top-sellers-sec-img/tablet/tablet_nuts.jpg 1x, ./img/top-sellers-sec-img/tablet/tablet_nuts@2x.jpg 2x"  media="(min-width: 768px)">
                        <source srcset="./img/top-sellers-sec-img/mobile/mobile_nuts.jpg 1x, ./img/top-sellers-sec-img/mobile/mobile_nuts@2x.jpg 2x" media="(max-width: 767.9px)">

                        <img src="./img/top-sellers-sec-img/tablet/tablet_chocolate.jpg"  alt="milk-chocolate"  class="sellers-img">
                    </picture>
                
                    <p class="sellers-paragraf sellers-list-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
              </li>

              <li class="sellers-item"> 
                    <picture>
                        <source srcset="./img/top-sellers-sec-img/desktop/black_chocolate.jpg 1x, ./img/top-sellers-sec-img/desktop/black_chocolate@2x.jpg 2x" media="(min-width: 1200px)">
                        <source srcset="./img/top-sellers-sec-img/tablet/tablet_chocolate.jpg 1x, ./img/top-sellers-sec-img/tablet/tablet_chocolate@2x.jpg 2x" media="(min-width: 768px)">
                        <source srcset="./img/top-sellers-sec-img/mobile/mobile_chocolate.jpg 1x, ./img/top-sellers-sec-img/mobile/mobile_chocolate@2x.jpg 2x" media="(max-width: 767.9px)">

                        <img src="./img/top-sellers-sec-img/mobile/mobile_nuts.jpg" alt="black_chocolate"  class="sellers-img">
                    </picture>
              </li>
              
            </ul>
           
          <div class="paragraf_btn">
            <p class="sellers-paragraf sellers-para-btn">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="modal-btn js-open-modal" type="button" data-modal="2">Buy now</button>
          </div>
        </div>

      
  </section>

  
  <div class="modal-buy-now modal" data-modal="2">
      <button type="button" class="modal-close-btn js-modal-close">
        <svg class="modal-close-icon"
          aria-label="іконка"
          width="14"  
          height="14">
          <use class="icon-close-svg" href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <p class="contact-form-text"><span class="contact-form-text-span">BUY</span> NOW</p>

      <ul class="modal-card-list list">
        <li class="modal-card-item">
          <div class="modal-cards-img">
            <img class="modal-card-img" src="./img/top-sellers-sec-img/modal/kinder_chocolate.jpg" alt="" width="120">
            <button type="button" class="modal-cards-btn">100 g</button></div>
        </li>
        <li class="modal-card-item">
          <div class="modal-cards-img">
            <img class="modal-card-img" src="./img/top-sellers-sec-img/modal/praline_chocolate.jpg" alt="" width="120">
            <button type="button" class="modal-cards-btn">200 g</button></div>
        </li>
        <li class="modal-card-item">
          <div class="modal-cards-img">
            <img class="modal-card-img" src="./img/top-sellers-sec-img/modal/dark_chocolate.jpg" alt="" width="120">
            <button type="button" class="modal-cards-btn">300 g</button></div>
        </li>
      </ul>
  
      <form class="contact-form">
        <div class="contact-form-field-wrapper">
          <label for="user-name" class="contact-form-field-desc">Personal information</label>
          <div class="contact-form-input-wrapper personal">
            <input id="user-name" class="contact-form-input" type="text" name="user-name" placeholder="Name" required pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ]+">
            <input id="user-surname" class="contact-form-input" type="text" name="user-surname" placeholder="Surname" required pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄʼ]+">
            
          </div>
        </div>

        <div class="contact-form-field-wrapper">
          <label for="user-email" class="contact-form-field-desc">Email</label>
          <div class="contact-form-input-wrapper">
            <input id="user-email" class="contact-form-input" type="email" name="user-email" placeholder="Enter your email" required>
            
          </div>
          
        </div>

        <div class="contact-form-field-wrapper">
          <label for="user-tel" class="contact-form-field-desc">Phone number</label>
          <div class="contact-form-input-wrapper">
            <input id="user-tel" class="contact-form-input phone" type="tel" name="user-tel" placeholder="Phone number" required pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx">
           <div class="icon-phone">
              <svg class="icon-flag-ua"
                width="32"
                height="24">
                <use href="./img/sprite.svg#icon-flag-ua"></use>
              </svg>
              <p class="phone-text-input">+380</p>
           </div>
          </div>
          
        </div>
       
        <div class="contact-form-field-wrapper">
          <label for="user-card" class="contact-form-field-desc">Card number</label>
          <div class="contact-form-input-wrapper">
            <input id="user-card" class="contact-form-input" type="tel" name="user-tel" placeholder="Enter card" required pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            title="xxxx-xxxx-xxxx-xxxx">
            <svg class="icon-mastercard"
                width="44"
                height="30">
                <use href="./img/sprite.svg#icon-mastercard"></use>
              </svg>
          </div>
          
        </div>

        <div class="contact-form-field-wrapper">
          <label for="user-comment" class="contact-form-field-desc">Comment</label>
          <textarea id="user-comment" class="contact-form-textarea" name="user-comment" placeholder="Enter text"></textarea>
        </div>
        
        <button type="submit" class="contact-form-sumbit">Submit</button>
      </form>
  </div>
    


     
