 <section class="sellers section">
        <div class="container">
          <h2 class="sellers-title"><span class="sellers-title-span">TOP</span> SELLERS</h2>
            <ul class="list sellers-item">
              <li class="sellers-list img-sellers">
                    <img srcset="../img/top-sellers-sec-img/desktop/nuts@2x.jpg" src="../img/top-sellers-sec-img/desktop/nuts.jpg" alt="" class="sellers-img " width="368" height="464">
              </li>

              <li class="sellers-list"> 
                    <picture>
                        <source srcset="../img/top-sellers-sec-img/desktop/chocolate.jpg 1x, ../img/top-sellers-sec-img/desktop/chocolate@2x.jpg 2x" media="(min-width: 1200px)">
                        <source srcset="../img/top-sellers-sec-img/tablet/tablet_nuts.jpg 1x, ../img/top-sellers-sec-img/tablet/tablet_nuts@2x.jpg 2x"  media="(min-width: 768px)">
                        <source srcset="../img/top-sellers-sec-img/mobile/mobile_nuts.jpg 1x, ../img/top-sellers-sec-img/mobile/mobile_nuts@2x.jpg 2x" media="(max-width: 767.9px)">

                        <img src="../img/top-sellers-sec-img/tablet/tablet_chocolate.jpg"  alt=""  class="sellers-img">
                    </picture>
                
                    <p class="sellers-paragraf sellers-list-text">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
              </li>

              <li class="sellers-list"> 
                    <picture>
                        <source srcset="../img/top-sellers-sec-img/desktop/black_chocolate.jpg 1x, ../img/top-sellers-sec-img/desktop/black_chocolate@2x.jpg 2x" media="(min-width: 1200px)">
                        <source srcset="../img/top-sellers-sec-img/tablet/tablet_chocolate.jpg 1x, ../img/top-sellers-sec-img/tablet/tablet_chocolate@2x.jpg 2x" media="(min-width: 768px)">
                        <source srcset="../img/top-sellers-sec-img/mobile/mobile_chocolate.jpg 1x, ../img/top-sellers-sec-img/mobile/mobile_chocolate@2x.jpg 2x" media="(max-width: 767.9px)">

                        <img src="../img/top-sellers-sec-img/mobile/mobile_nuts.jpg" alt=""  class="sellers-img" width="344">
                    </picture>
              </li>
              
            </ul>
           
          <div class="paragraf_btn">
            <p class="sellers-paragraf sellers-para-btn">Crazyy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            <button class="modal-btn" type="button" data-modal-open>Buy now</button>
          </div>
        </div>
      </section>