<section class="uniq-components">
  <div class="container">
    <h2 class="components-heading">
      it all adds up to one exceptional
      <span class="orange-word">taste</span> sensation
    </h2>
    <p class="component-sub-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="component-menu">
      <li class="component-card-wrapper" id="sweet-chokolate">
        <a href="#components" class="component-card">
          <div class="component-card-item item-front">
            <picture>
              <source
                srcset="
                  /src/img/unique-sec-img/milk-chocolate-mobile-tablet.png    1x,
                  /src/img/unique-sec-img/milk-chocolate-mobile-tablet@2x.png 2x
                "
                media="(max-width: 767px)"
              />

              <source
                srcset="
                  /src/img/unique-sec-img/milk-chocolate-desktop.png   1x,
                  /src/img/unique-sec-img/milk-chocolate-desktop@2.png 2x
                "
                media="(max-width: 767px)"
              />

              <img
                class="ingredient-img"
                src="/src/img/unique-sec-img/milk-chocolate-desktop.png"
                alt="ingrefient-item"
                width="270"
              />
            </picture>
            <h3 class="component-card-item-title">Milk chocolate</h3>
          </div>

          <div class="igredient-card-item">
            <h3 class="ingredient-card-title">Milk chocolate</h3>
            <div class="overlay-button-row">
              <p class="overlay-button">chocolate</p>
              <p class="overlay-button">the benefits</p>
            </div>
            <p class="overlay-description">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
