@media screen and (min-width: 1200px) {
  .logo {
    animation: pulse;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
  }
  .logo:hover,
  .logo:focus {
    animation-play-state: paused;
  }

  .nav-link:hover,
  .nav-link:focus {
    animation: swing;
    animation-duration: 1000ms;
  }
  .social-networks-list {
    transform: scale(1);
    transition: transform 250ms var(--transition-cubic);
  }
  .social-networks-list:hover,
  .social-networks-list:focus {
    transform: scale(1.2);
  }
  .footer-networks-link:hover,
  .footer-networks-link:focus {
    transform: scale(1.2);
  }
  .footer-menu-list-item:hover,
  .footer-menu-list-item:focus {
    animation: swing;
    animation-duration: 1000ms;
  }
  .footer-slogan:hover .footer-slogan-accent {
    display: inline-block;
    position: relative;
    animation: hinge;
    animation-duration: 3500ms;
    transform-origin: top left;
  }
}

/* ------MOBILE MENU----- */

.is-open {
  /* animation: zoomInRight; */
  /* animation: fadeInRight; */
  animation: fadeInTopRight;
  animation-duration: 700ms;
}
.is-open .mobile-nav-list,
.is-open .mobile-social-networks {
  visibility: visible;
  opacity: 1;
  transition: visibility 1000ms 850ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1000ms 850ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list,
.mobile-social-networks {
  visibility: hidden;
  opacity: 0;
}

/* modal */
.modal {
  scale: 0.6;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.active {
  scale: 1;
}
