.hero {
  padding: 0 20px;
}

.container-hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-left: auto;
  margin-right: auto;
  padding: 395px 20px 20px;

  border-radius: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/hero-sec-img/chocolate-covered-cocoa-powder-1.jpg);
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .container-hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-sec-img/chocolate-covered-cocoa-powder@2x.jpg);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-hero {
  color: var(--text-color-theme-dark);
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  text-align: start;
  height: 72px;
  letter-spacing: -0.03em;
}

.hero-wrapper-btn {
  display: flex;
  margin-top: 32px;
  gap: 14px;
}

.btn-hero {
  cursor: pointer;
  border: none;
  background: #fd9222;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color-theme-dark);
  padding: 12px 28px;
  transition: background-color 250ms var(--transition-cubic),
    color 250ms var(--transition-cubic);
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.btn-hero-link {
  display: block;
  text-align: center;
  text-decoration: none;

  padding: 11px 27px;
  min-width: 120px;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: #ffffff;
  background: rgba(28, 28, 28, 0);
  border: 1px solid #ffffff;
}

.hero-wrapper-scroll {
  display: flex;
  margin-top: 32px;
  gap: 12px;
}

.btn-hero-scroll {
  display: flex;
  border: none;
  background: rgba(28, 28, 28, 0);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--text-color-theme-dark);
  align-items: center;
  gap: 14px;
  transition: color 250ms var(--transition-cubic);
}

.btn-hero-scroll:hover,
.btn-hero-scroll:focus {
  color: #fd9222;
}

.icon-hero {
  color: #fd9222;
  background: var(--text-color-theme-dark);
  border-radius: 50px;
  fill: currentColor;
  transition: background-color 250ms var(--transition-cubic),
    color 250ms var(--transition-cubic);
}
.btn-hero-scroll:hover .icon-hero {
  background-color: #fd9222;
  color: #ffffff;
}
.btn-hero-scroll:focus .icon-hero {
  background-color: #fd9222;
  color: #ffffff;
}
@media screen and (max-width: 767.9px) {
  .container-hero {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 0 32px;
  }
  .container-hero {
    width: 704px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-sec-img/tablet/chocolate-covered-cocoa-powder.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container-hero {
      padding: 671px 40px 40px;
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4)
        ),
        url(../img/hero-sec-img/tablet/chocolate-covered-cocoa-powder@2x.jpg);
    }
  }
  .title-hero {
    font-size: 28px;
    line-height: 34px;
    width: 484px;
    height: 102px;
  }
  .hero-btn-wrappers {
    display: flex;
    justify-content: space-between;
  }
  .icon-hero {
    width: 38px;
    height: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 1136px;
    padding: 381px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4)
      ),
      url(../img/hero-sec-img/desktop/chocolate-covered-cocoa-powder-1.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .container-hero {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          rgba(17, 17, 17, 0.4)
        ),
        url(../img/hero-sec-img/desktop/chocolate-covered-cocoa-powder-1@2x.jpg);
    }
  }
}
