button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}

body {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* =======cooonnteennnnnttttttttt========? */

.hero {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-sec-img/chocolate-covered-cocoa-powder\ 1.jpg),
    linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%),
    url(../img/hero-sec-img/chocolate-covered-cocoa-powder\ 1@2x.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 620px;
  border-radius: 20px;
  position: relative;
}
.main-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: -0.03em;

  color: #ffffff;
}
.wrapper-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 28px;
  left: 20px;
  flex-direction: column;
}
.hero-list {
  display: flex;
  flex-direction: row;
}
.hero-link-list {
  margin-top: 32px;

  margin-bottom: 39px;
  margin-right: 14px;
}
.btn-hero {
  cursor: pointer;

  gap: 14px;
  width: 120px;
  height: 41px;
  border: none;
  background: #fd9222;
  order: none;
  border-radius: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.btn-hero:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}
.link-info-hero {
  margin-right: auto;
}
.btn-info {
  border: none;
  background: rgba(28, 28, 28, 0);
  width: 107px;
  height: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  letter-spacing: -0.03em;

  color: #ffffff;
  position: relative;
}
.icon-hero {
  background: white;
  border-radius: 20px;
  position: ABSOLUTE;
  margin-left: 10px;
  top: 0;
}
.btn-hero-style {
  background: rgba(28, 28, 28, 0);
  border: 1px solid #ffffff;
}
