/*modal-window*/
/* .backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
height: 100%;
background: rgba(30, 24, 35, 0.4);

opacity: 1;
visibility: visible;
pointer-events: auto;

 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.modal-window-explore {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 311px;
  height: 350px;
  background: #ffffff;
  border-radius: 20px;
  z-index: 30;
}
.modal-explore {
  width: 24px;
  height: 24px;
  left: 273px;
  top: 15px;
  background: rgba(0, 0, 0, 0.8);
  border: medium none;
  background-image: none;
  background: transparent;
}
.modal-window-chocolate {
  width: 100%;
  height: 100%;
  background: url(/img/subscribe-sec-img/modal-subscribe-mobile.jpg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .modal-window-chocolate {
    background: url(/img/subscribe-sec-img/modal-subscribe.jpg);
  }

  .modal-window-explore {
    width: 538px;
    height: 412px;
  }
}

.modal-window-chocolate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  margin-top: 15px;
  margin-right: 14px;
  border: medium none;
  background-image: none;
  background: transparent;
}
.modal-window-title {
  margin-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;

  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .modal-window-title {
    font-size: 24px;
    line-height: 1.1;
  }

  .form-modal-window {
    width: 313px;
    height: 52px;
  }
  .subscribe-form-wrapper {
    width: 538px;
    height: 216px;
  }
}

@media screen and (max-width: 767px) {
  .form-modal-window {
    width: 263px;
    height: 45px;
  }
  .modal-window-title {
    width: 311px;
  }
}

.form-modal-window {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 18px;
  gap: 40px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  margin-top: 24px;
}
.modal-window {
  position: relative;
  padding-bottom: 32px;
}
.subscribe-modal-window-btn {
  position: absolute;
  width: 100px;
  height: 45px;
  left: 163px;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background: #fd9222;
  border-radius: 100px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscribe-modal-window-btn {
    position: static;
    width: 137px;
    height: 52px;
  }
  .subscribe-form-wrapper {
    display: flex;
  }
  .modal-window {
    display: flex;
    margin-top: 28px;
    gap: 8px;
  }
  .form-modal-window {
    margin-top: 0;
  }
  .modal-window-title {
    padding-right: 180px;
  }
}

::placeholder {
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}