.container-products {
  display: block;
  height: 409px;
}

.products-list {
  margin-top: 32px;
}

.products-list-item {
  height: 364px;
  width: 270px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  /* scroll-snap-align: start;
  scroll-snap-stop: normal; */
}

.products-item-img {
  margin-left: auto;
  margin-right: auto;
}

.span-products {
  color: var(--orange-color);
}

.title-cards {
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #111;
}

.text-products {
  color: rgba(17, 17, 17, 0.7);
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
}

.button-products {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  gap: 14px;
  margin-top: 18px;
  background: #fafafa;
  font-weight: 600;
  color: #111111;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.5);
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 10px;
  background: #fd9222;
}

@media screen and (max-width: 767.9px) {
  .section-cards {
    overflow-x: hidden;
  }
  .products-list-item {
    width: 335px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .section {
    padding-top: 128px;
  }
}
