.title-products {
    color: var(#111);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
span {
  color: var(--orange-color);
    
}

.products{
  display: flex;
}
img {
  min-width: 335px;
}
   
   