.section-cards {
  padding: 0px;
  padding-top: 72px;
}
.container-products {
  display: block;
  position: relative;
  overflow-y: hidden;
section-products
  height: 409px;
}
.products-list {
  display: flex;
  margin-top: 32px;
  position: absolute;
  top: 0;
  left: 0;
  gap: 18px;
}
/* .list-products {
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding-top: 32px;
  padding-left: 52px;
  padding-right: 52px;
  width: 330px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
} */
.products-list-item {
  height: 364px;
  width: 270px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;

  scroll-snap-type: x mandatory;
  height: 453px;
  max-width: 335px;
  z-index: 1;
}
.title-products {
  color: #111;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 32px;
}
.span-products {
  color: var(--orange-color);
}

  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
.title-cards {
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #111;
}
.text-products {
  color: rgba(17, 17, 17, 0.7);
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.button-products {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px;
  gap: 14px;
  margin-top: 18px;
  margin-bottom: 32px;
  background: #fafafa;
  font-weight: 600;
  color: #111111;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
.list-products {
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding-top: 32px;
  padding-left: 53px;
  padding-right: 52px;
  width: 330px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

@media screen and (min-width: 768px) {
  .products {
    flex-direction: row;
  }
  .container-products {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-products {
    max-width: 1200px;
  }
}
