.title-products {
    color: var(#111);
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
span {
<<<<<<< Updated upstream
    color: var(#fd9222);
=======
  color: var(--orange-color);;
>>>>>>> Stashed changes
}
.products{
   display: flex;
   
}
<<<<<<< Updated upstream
img {
max-width: ;
}
=======
 img {
  max-width: 330px;
} 
>>>>>>> Stashed changes
