.reviews-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.reviews-title-span {
  color: var(--orange-color);
}

.reviews-list {
  display: flex;
  margin-top: 50px;
  gap: 28px;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.reviews-description {
  text-align: center;
}

.btn-review {
  display: block;
  margin: 64px auto 0px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--main-color);
  background-color: transparent;
  padding: 14px 40px;
  border: 1px solid var(--orange-color);
  border-radius: 100px;
}

@media screen and (max-width: 767.9px) {
  .reviews-item {
    max-width: 335px;
  }
  .reviews-item-tablet,
  .reviews-item-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .reviews-item {
    width: calc((100% - 16px) / 2);
    gap: 16px;
  }
  .reviews-item-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-item {
    width: calc((100% - 56px) / 3);
    gap: 28px;
  }
}
