.reviews-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.reviews-title-span {
  color: var(--orange-color);
}

.reviews-list {
  display: flex;
  margin-top: 74px;
  gap: 28px;
}

.reviews-item {
  position: relative;
  display: flex;
  height: 200px;
  padding-top: 56px;
  padding-left: 18px;
  padding-right: 18px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}
.reviews-img {
  position: absolute;
  top: -42px;
}
.rewiews-subtitle {
  margin-bottom: 24px;
}
.reviews-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.btn-review {
  display: block;
  margin: 64px auto 0px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  color: var(--main-color);
  background-color: transparent;
  padding: 14px 40px;
  border: 1px solid var(--orange-color);
  border-radius: 100px;
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}
.btn-review:hover,
.btn-review:focus {
  background-color: var(--orange-color);
  color: var(--text-color-theme-dark);
}

@media screen and (max-width: 767.9px) {
  .reviews-item {
    max-width: 335px;
  }
  .reviews-item-tablet,
  .reviews-item-mobile {
    display: none;
  }
  .section-reviews {
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .section-reviews {
    padding-bottom: 100px;
  }
  .reviews-item {
    width: calc((100% - 16px) / 2);
  }
  .reviews-item-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-reviews {
    padding-bottom: 128px;
  }
  .reviews-item {
    width: calc((100% - 56px) / 3);
  }
}

/* -----MODAL----- */

.review-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 517px;
  max-height: 628px;
  background: var(--cloud-color);
  border-radius: 15px;
  z-index: 30;
}
.review-modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 0%;
  background-color: transparent;
}
.review-modal-close-icon {
  fill: var(--main-color);
  transition: fill 250ms var(--transition-cubic);
}
.review-modal-close-icon:hover,
.review-modal-close-icon:focus {
  fill: var(--orange-color);
}
.review-modal-title {
  text-align: start;
  line-height: 1.17;
  width: 298px;
}
.modal-title-accent {
  color: var(--orange-color);
}
.review-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}
.review-form-input {
  width: 100%;
  height: 66px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  outline: transparent;
  background-color: transparent;
}
.review-form-tel-input {
  width: 100%;
  height: 66px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding-left: 177px;
  padding-right: 18px;
  outline: transparent;
  background-color: transparent;
}
.review-input-wrapper {
  position: relative;
}
.input-icon-block {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(18px);
  display: flex;
  align-items: center;
  gap: 18px;

  border-right: 2px solid rgba(17, 17, 17, 0.05);
  padding-right: 24px;
}
.review-input-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  letter-spacing: -0.02em;
  color: #000000;
}
.review-form-textarea {
  width: 100%;
  height: 137px;
  padding-top: 22px;
  padding-bottom: 22px;
  resize: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  outline: transparent;
  background-color: transparent;
}
.review-form-input,
.review-form-textarea,
.review-form-tel-input {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-color);
}
.review-form-btn {
  border: none;
  background-color: var(--orange-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-color-theme-dark);
  padding: 14px 40px;
  margin-top: 18px;
  transition: color 250ms var(--transition-cubic),
    background-color 250ms var(--transition-cubic);
}
.review-form-btn:hover,
.review-form-btn:focus {
  color: var(--orange-color);
  background-color: var(--background-hover-color);
}
.mobile-lead {
  display: none;
}
@media screen and (max-width: 767.9px) {
  .review-modal {
    width: 95%;
    max-width: 311px;
    height: 95%;
    max-height: 471px;
    overflow-y: scroll;
    padding: 32px 24px;
  }
  .review-modal-close-btn {
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
  }
  .review-modal-title {
    font-size: 20px;
    line-height: 1.2;
    max-width: 255px;
  }
  .mobile-lead {
    display: block;
  }
  .review-form {
    gap: 14px;
    margin-top: 32px;
  }
  .review-form-input {
    height: 45px;
    font-size: 14px;
    line-height: 1.2px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .review-form-tel-input {
    height: 45px;
    padding-left: 116px;
    font-size: 14px;
    line-height: 1.2px;
  }
  .input-icon-block {
    transform: translateY(-50%) translateX(14px);
    gap: 8px;
    padding-right: 8px;
  }
  .review-input-text {
    font-size: 14px;
  }
  .review-form-textarea {
    font-size: 14px;
    line-height: 1.2px;
    height: 91px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .review-form-btn {
    padding: 12px 28px;
    margin-top: 18px;
  }
}
