/* SUBSCRIBE-IMG */

/* mobile */
@media screen and (max-width: 767.9px) {
    .subscribe-section{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url(/img/subscribe-sec-img/subscribe-mobile.jpg);
    }
}
@media  screen and (min-device-pixel-ratio: 2) and (max-width: 767.9px),
screen and (min-resolution: 192dpi) and (max-width: 767.9px),
screen and (min-resolution: 2dppx) and (max-width: 767.9px) {
  .subscribe-section{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url(/img/subscribe-sec-img/subscribe-mobile@2x.jpg);
  }
}
/* tablet */
@media screen and (min-width: 768px) {
    .subscribe-section{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url(/img/subscribe-sec-img/subscribe-tablet.jpg);
    }
}
@media  screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .subscribe-section{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url(/img/subscribe-sec-img/subscribe-tablet@2x.jpg);
  }
}
/* desktop */
@media screen and (min-width: 1200px) {
    .subscribe-section{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(/img/subscribe-sec-img/subscribe-desktop.jpg);
    }
}
@media  screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .subscribe-section{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/img/subscribe-sec-img/subscribe-desktop@2x.jpg);
  }
}

.subscribe-section{
    background-color: #1E1823;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title-subscribe{
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .title-subscribe{
        font-size: 24px;
       }
}

.subscribe-description{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.2;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}
.subscribe-open-btn{
    margin-right: auto;
    margin-left: auto;
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 14px 40px;
gap: 14px;
width: 172px;
height: 50px;
background: #FD9222;
border-radius: 100px;
border: none;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.3;
color: #FFFFFF;
transition: color 250ms var(--transition-cubic), 
background-color 250ms var(--transition-cubic);
}

.subscribe-open-btn:hover,
.subscribe-open-btn:focus{
    background: #FCF1E0;
    color: #FD9222;
}

.subscribe-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 63px;
    padding-bottom: 63px;
}

@media screen and (min-width: 768px) {
    .subscribe-wrapper{
        padding-top: 72px;
    padding-bottom: 72px; 
    }
}

.content-container{
    max-width: 326px;
    margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
    .content-container{
    max-width: 468px;
}
}