@media screen and (max-width: 767.9px) {
 
  .sellers-title {
    margin-bottom: 32px;
  }

  .sellers-para-btn {
    display: none;
  }

  .sellers-title-span {
    color: #fd9222;
  }

  .sellers-img {
    border-radius: 15px;
   
  }

  .sellers-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .sellers-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sellers-paragraf {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 306px;
  }

  .modal-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0.8;
    color: #fff;
    padding: 12px 28px;
    background: #fd9222;
   
    border: none;
    margin-top: 20px;
  }

  .paragraf_btn {
    text-align: center;
  }

  
  .img-sellers {
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199.9px) {
 

  .sellers-list-text {
    display: none;
  }

  .sellers-title {
    margin-bottom: 50px;
  }

  .sellers-title-span {
    color: #fd9222;
  }

  .sellers-img {
    border-radius: 15px;
   
  }
 

  .sellers-list{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;

  }

  .paragraf_btn {
    display: flex;
    justify-content: space-between;
    
  }

  .sellers-paragraf {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 306px;
  }

  .modal-btn {
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.8;
    color: #fff;
    padding: 14px 40px;
    background: #fd9222;

    border: none;
  }

  
  .img-sellers {
    display: none;
  }

}

@media screen and (min-width: 1200px) {


  .sellers-list-text {
    display: none;
  }

  .sellers-title {
    margin-bottom: 50px;
  }

  .sellers-title-span {
    color: #fd9222;
  }

  .sellers-img {
    
    border-radius: 15px;
  }

  .sellers-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
  }

  .paragraf_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sellers-paragraf {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    max-width: 407px;
  }

  .modal-btn {
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.8;
    color: #fff;
    padding: 14px 40px;
    background: #fd9222;
  
    border: none;
  }

}
